<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-user" aria-hidden="true"></i> 사용자 정보<span class="ipInfo"> [ IP : {{ currentServerip }} ]</span></div>
                <div class="panel-body">
                    <div id="Person-1" class="box">
                        <div class="row box-middle">
                            <div class="col-md-2">PageSize:
                                <select ng-model="entryLimit" class="form-control">
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                            </div>
                            <div class="col-md-3">Filter:
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <h5>전체 {{ totalItems }}명 중에 {{ filtered.length }}명 검색되었습니다.</h5>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success btn-sm" ng-click="getUserData()"><i class="fa fa-refresh" aria-hidden="true"></i> 새로고침</button>
                            </div>
                        </div>
                        <br/>
                            <div class="box-content box-table" ng-show="filteredItems > 0">
                                <table class="table table-hover tablesorter" ng-show="userData ">
                                    <thead>
                                        <tr>
                                            <th>NO.</th>
                                            <th>스캔PC&nbsp;<a ng-click="sort_by('scanpc')"><i class="fa fa-sort"></i></a></th>
                                            <th>이름&nbsp;<a ng-click="sort_by('username')"><i class="fa fa-sort"></i></a></th>
                                            <th>이메일&nbsp;<a ng-click="sort_by('useremail')"><i class="fa fa-sort"></i></a></th>
                                            <th>스캔 날짜&nbsp;<a ng-click="sort_by('createdOn')"><i class="fa fa-sort"></i></a></th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="scanInfo in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ scanInfo.scanpc }}</td>
                                            <td>{{ scanInfo.username }}</td>
                                            <td>{{ scanInfo.useremail }}</td>
                                            <td ng-class="{ changeColor:  getEqualDate(scanInfo.createdOn)}">{{ scanInfo.createdOn | datefilter}}</td>
                                            <td>
                                                <button type="button" class="btn btn-default btn-sm" ng-click="openDetailView(scanInfo._id, 'user')">스캔내역</button>
                                                <button type="button" class="btn btn-default btn-sm" ng-class="{ hideRestoreView: !scanInfo.totalRestoreCost }" ng-click="openDetailView(scanInfo._id, 'restore')">복원내역</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                        <div class="col-md-12" ng-show="filteredItems == 0">
                            <div class="col-md-12">
                                <h4>No customers found</h4>
                            </div>
                        </div>
                        <div class="col-md-12" ng-show="filteredItems > 0">    
                                <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>